.micro {
    padding-bottom: 640px;
    @media (max-width: 1260px) {
        padding-bottom: 500px;
    }
    @media (max-width: 990px) {
        padding-bottom: 360px;
    }
    @media (max-width: 760px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    position: relative;
    // .micro__bg
    &__bg {
        position: absolute;
        top: 0;
        z-index: -1;
    }
    // .micro__inner
    &__inner {
        transform: translateY(50%);
        @media (max-width: 760px) {
            transform: translateY(0);
        }
    }
    // .micro__content
    &__content {
        padding-top: 257px;
        position: relative;
        display: flex;
        @media (max-width: 1260px) {
            justify-content: center;
            align-items: center;
            padding-top: 120px;
        }
        @media (max-width: 990px) {
            justify-content: space-between;
        }
        @media (max-width: 760px) {
            flex-direction: column;
            padding-top: 0;
        }
    }
    // .micro__video
    &__video {
        position: absolute;
        top: 0;
        right: 343px;
        transition: all .2s ease;
        text-align: center;
        p{
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
        }
        img{
            cursor: pointer;
            margin-bottom: 12px;
            &:hover{
                border-radius: 50%;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.852218);
            }
            &:active{
                transition: .3s;
                transform: scale(0);
                box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.852218);
            }
        }
        @media (max-width: 990px) {
            left: 0;
            right: 0;
        }
        @media (max-width: 760px) {
            position: relative;
            order: 2;
            margin: 15px 0;
        }
    }
    // .micro__left
    &__left {
        @media (max-width: 760px) {
            order: 1;
        }
    }
    // .micro__title
    &__title {
        @extend %fontComf;
        font-size: 60px;
        line-height: 67px;
        color: $black;
        margin-bottom: 60px;
        @media (max-width: 990px) {
            margin-bottom: 15px;
            font-size: 40px;
            line-height: 47px;
        }
    }
    // .micro__list
    &__list {
        position: relative;
        left: 25px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: $black;
        margin-bottom: 200px;
        @media (max-width: 990px) {
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 18px;
            left: 15px;
        }
    }
    // .micro__list-item
    &__list-item {
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        @media (max-width: 990px) {
            margin-bottom: 10px
        }
    }
    // .micro__text
    &__text {
        font-size: 18px;
        line-height: 120%;
        color: $black;
        max-width: 350px;
        @media (max-width: 990px) {
            font-size: 14px;
            max-width: 250px;
        }

    }
    // .micro__right
    &__right {
        padding-top: 130px;
        margin-left: -52px;
        @media (max-width: 1260px) {
            margin-left: 0;
            padding-top: 0;
        }
        @media (max-width: 760px) {
            order: 3;
        }
    }
    // .micro__card
    &__card {
        padding: 72px 32px 52px 32px;
        border: 3px solid $black;
        border-radius: 200px 0px 300px;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        @media (max-width: 1260px) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            padding: 10px;
            border-radius: 200px 0px 250px;
            gap: 0;
        }
        @media (max-width: 460px) {
            border-radius: 200px 0px 200px;
            padding: 5px;
        }
    }
    // .micro__card-item
    &__card-item {
        &:first-child{
            grid-column: span 2;
            img{
                border-radius: 400px 0px 0px 0px;
                @media (max-width: 1260px) {
                    width: 400px;
                    border-radius: 200px 0px 0px 0px;
                }
                @media (max-width: 460px) {
                    width: 330px;
                }
            }
            @media (max-width: 1260px) {
                grid-column: span 1;
                margin-bottom: 10px;
            }
        }
        &:nth-child(2){
            img{
                margin-left: 4px;
                border-radius: 0px 0px 0px 300px;
                @media (max-width: 1260px) {
                    width: 400px;
                    margin-left: 0;
                    border-radius: 0px 0px 300px 0;
                }
                @media (max-width: 460px) {
                    width: 330px;
                }
            }
        }
        &:last-child{
            img{
                width: 218px;
                height: 300px;
                border-radius: 0px 0px 300px 0;
            }
            @media (max-width: 1260px) {
                display: none;
            }
        }
    }
    // .micro__card-img
    &__card-img {

        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}
